<div *ngIf="form">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><h2>Record status</h2></mat-card-title>
            <mat-card-subtitle>
                <span *ngIf="model.complete">Record has been completed. </span>    
                <span *ngIf="!model.complete">Record has not been completed. </span>    
                <span *ngIf="model.hasErrors">Record has errors. </span>    
                <span *ngIf="!model.hasErrors">No errors detected. </span>    
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <span *ngFor="let error of form.errors">
                <mat-error *ngIf="errorIsVisible(error.errorId, error.formula)">{{ error.label }}</mat-error>
            </span>
        </mat-card-content>
    </mat-card>
    <span *ngFor="let page of form.pages">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title><h2>{{ page.label }}</h2></mat-card-title>
                <mat-card-subtitle>
                    <span *ngIf="uncompletedPages.indexOf(page.page) == -1 ">Section completed</span>
                    <span *ngIf="uncompletedPages.indexOf(page.page) > -1 ">Section NOT completed</span>    
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <table>
                    <tr *ngFor="let variable of page.variables" class="variables">
                        <span *ngIf="variable.type=='label' && visibilityCheck(variable.name, variable.visible)">
                            {{ variable.label }}: {{ formulaValue(variable.name, variable.formula) }}
                        </span>
                        <span *ngIf="variable.type=='date' && visibilityCheck(variable.name, variable.visible)">
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput type="date" placeholder="{{ variable.label }}" (ngModelChange)="emitValueChanged()"
                                    [(ngModel)]="model[variable.name]">                                    
                                </mat-form-field>                                
                            </td>
                            <td>
                                <mat-error *ngIf="variable.mandatory && (!model[variable.name] || model[variable.name] == '')">
                                    <strong>*</strong>
                                </mat-error>
                            </td>
                        </span>
                        <span *ngIf="variable.type=='string' && visibilityCheck(variable.name, variable.visible)">
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="{{ variable.label }}" (ngModelChange)="emitValueChanged()" [(ngModel)]="model[variable.name]">
                                </mat-form-field>                                
                            </td>
                            <td>
                                <mat-error *ngIf="variable.mandatory && (!model[variable.name] || model[variable.name] == '')">
                                    <strong>*</strong>
                                </mat-error>
                            </td>
                        </span>
                        <span *ngIf="variable.type=='integer' && visibilityCheck(variable.name, variable.visible)">
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="{{ variable.label }}" (ngModelChange)="emitValueChanged()"
                                    [(ngModel)]="model[variable.name]" type="number" min="0" step="1">
                                </mat-form-field>
                            </td>                            
                            <td>
                                <mat-error *ngIf="variable.mandatory && (!model[variable.name] || model[variable.name] == '')">
                                    <strong>*</strong>
                                </mat-error>
                            </td>
                        </span>
                        <span *ngIf="variable.type=='number' && visibilityCheck(variable.name, variable.visible)">
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="{{ variable.label }}" (ngModelChange)="emitValueChanged()"
                                    [(ngModel)]="model[variable.name]" type="number" min="0" step="0.01">
                                </mat-form-field>
                            </td>                            
                            <td>
                                <mat-error *ngIf="variable.mandatory && (!model[variable.name] || model[variable.name] == '')">
                                    <strong>*</strong>
                                </mat-error>
                            </td>
                        </span>
                        <span *ngIf="variable.type=='single' && visibilityCheck(variable.name, variable.visible)">
                            <td>{{ variable.label }}</td>
                            <td>
                                <mat-error *ngIf="variable.mandatory && (!model[variable.name] || model[variable.name] == '')">
                                    <strong>*</strong>
                                </mat-error>                                
                            </td>
                            <td>
                                <mat-radio-group class="example-radio-group" [(ngModel)]="model[variable.name]" (ngModelChange)="emitValueChanged()">
                                    <mat-radio-button class="example-radio-button" *ngFor="let v of variable.values"
                                        [name]="variable.name" [value]="v.name" color="warn">
                                        {{ v.label }}
                                    </mat-radio-button>                                
                                </mat-radio-group>
                            </td>
                        </span>
                        <span *ngIf="variable.type=='multi' && visibilityCheck(variable.name, variable.visible)">
                            <td>{{ variable.label }}                                    
                                <mat-error *ngIf="variable.mandatory && (!model[variable.name] || model[variable.name] == '')">
                                    <strong>*</strong>
                                </mat-error>                                    
                            </td>
                            <td>
                                <mat-selection-list [(ngModel)]="model[variable.name]" color="warn">
                                    <mat-list-option [value]="value.name" class="mat-warn" *ngFor="let value of variable.values">
                                        {{ value.label }}
                                    </mat-list-option>
                                </mat-selection-list>                                
                            </td>
                        </span>                    
                        <br/>
                    </tr>
              </table>
            </mat-card-content>
        </mat-card>        
    </span>    
</div>    
