.mat-radio-button {
    padding-right: 5px;
    padding-left: 5px;
    
  }

.radio-group{
    display: inline-flex;
    flex-direction: column;
}

.be-wide {
    width:400px;
    padding-left: 5px;
}