<div class="wrapper">
    <div class="sidebar" data-color="red" data-image="">
        <sidebar></sidebar>
        <div class="sidebar-background" style="background-image: url(/assets/img/sidebar-5.jpg)"></div>
    </div>      
    <div class="main-panel" *ngIf="form != undefined">
        <div style="background-color:white; border-bottom: 1px solid;">
            <table style="width: 100%;"  *ngIf="!centreDataId">
                <tr>
                    <td>               
                        Centre's data
                    </td>
                    <td align="right"> 
                        <navbar-button *ngIf="isMobile()"></navbar-button>
                        <!--<input *ngIf="!isMobile()" [(ngModel)]="filterByText" matInput placeholder="Search" style="padding: 10px 5px 0px 0px;margin: 10px 3px 0px 0px;">
                        -->
                    </td>
                </tr>
                <tr>
                    <td>
                        <button mat-button (click)="centreDataId = 'newid'; model={complete:false, hasErrors:false, module:'centre'}" matTooltip="New centre's data">
                            <i class="pe-7s-plus"></i>                                    
                        </button>                                
                    </td>
                    <td>
                        <mat-form-field style="padding: 5px 10px 0px 0px;margin: 10px 3px 0px 0px;">
                            <mat-select [(value)]="filterByStatusSelected" placeholder="Show">
                                <mat-option *ngFor="let mode of filterByStatusOptions" [value]="mode">
                                {{ mode }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>                           
                    </td>
                </tr>
            </table>
            
            <span *ngIf="centreDataId">                            
                <button mat-button matTooltip="Back to centres data list" (click)="loadCentresDataList()" >
                    <i class="pe-7s-back-2" ></i>                                  
                </button>
            </span>
            <span *ngIf="centreDataId">
                <button mat-button (click)="save()" matTooltip="Save">
                    <i class="pe-7s-diskette"></i>                                
                </button>
            </span>
            <!--span *ngIf="centreDataId && !model.deleted">
                <button mat-button (click)="deleteAdmission()" matTooltip="Delete admission">
                    <i class="pe-7s-close-circle"></i>                                
                </button>
            </span>
            <span *ngIf="centreDataId && model.deleted">
                <button mat-button (click)="restoreAdmission()" matTooltip="Restore admission">
                    <i class="pe-7s-check"></i>                                
                </button>
            </span-->
        </div>  
        <div class="main-content col-md-12">
            <span *ngIf="!centreDataId">
                <div style="margin-top:5px;">
                    <mat-nav-list>
                        <span *ngFor="let centreData of centreDataList">
                            <mat-list-item  *ngIf="filteredRecord(centreData, filterByStatusSelected)">
                                <a class="list" matLine *ngIf="!isMobile()">
                                    Validity: from {{ centreData.start | date:fullDate }} to {{ centreData.end | date:fullDate  }} 
                                    | Record                             
                                    <span *ngIf="centreData.complete">completed</span>
                                    <span *ngIf="!centreData.complete">not completed</span>
                                    <span *ngIf="centreData.hasErrors">with</span>
                                    <span *ngIf="!centreData.hasErrors">without</span> errors                            
                                </a>
                                <a matLine *ngIf="isMobile()">
                                    Data from: {{  centreData.start | date:fullDate }}  
                                    <i class="pe-7s-check" id="okbox" *ngIf="!centreData.hasErrors && centreData.complete"></i>
                                    <i class="pe-7s-help1" id="uncompletebox" *ngIf="!centreData.hasErrors && !centreData.complete"></i>
                                    <i class="pe-7s-attention" id="wrongbox" *ngIf="centreData.hasErrors"></i>
                                </a>
                                <button mat-button color="warn" (click)="loadCentreData(centreData._id)">Open</button>
                            </mat-list-item>
                        </span>
                        <mat-list-item *ngIf="centreDataList.length == 0">
                            <a matLine>
                                No centre's data record to show. Add your first data by clicking the PLUS icon!                            
                            </a>   
                        </mat-list-item>                        
                    </mat-nav-list>
                </div>                                    
            </span>            
            <span *ngIf="centreDataId">
                <data-collection [(collectionId)]="centreDataId" [(userid)]="id" 
                [(form)]="form" [(model)]="model" (valueHasChangedEmitter)="valueHasChanged($event)"
                [unsavedState]="unsaved"></data-collection>                                               
            </span>
        </div>        
    </div>
</div>