@import "~@angular/material/prebuilt-themes/indigo-pink.css";
#mobnav {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100000;
  }

i {
  font-size: 40px;
}

#okbox {
  color: green ;
  font-size:16px;
}

#uncompletebox {
  color: orangered ;
  font-size:16px;
}

#wrongbox {
  color: darkred;
  font-size:16px;
}