<div class="wrapper">
    <div class="sidebar" data-color="red" data-image="">
        <sidebar></sidebar>
        <div class="sidebar-background" style="background-image: url(/assets/img/sidebar-5.jpg)"></div>
    </div>      
    <div class="main-panel" *ngIf="form != undefined">
        <div class="navbar navbar-default" id="mobnav">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown" *ngIf="centreDataId">                            
                            <a class="navbar-brand" matTooltip="Back to centre's data list" (click)="loadCentresDataList()" >
                                <i class="pe-7s-back-2" ></i>                                  
                            </a>
                        </li>
                        <li *ngIf="centreDataId">
                            <a (click)="save()" matTooltip="Save">
                                <i class="pe-7s-diskette"></i>                                
                            </a>
                        </li>
                        <li *ngIf="!centreDataId">
                            <a (click)="centreDataId = 'newid'; model={complete:false, hasErrors:false}" matTooltip="New centre's data">
                                <i class="pe-7s-plus"></i>                                    
                            </a>                                
                        </li>
                        <li *ngIf="!centreDataId">
                            <a matTooltip="Export data">
                                <i class="pe-7s-server"></i>                                    
                            </a>                                
                        </li>
                        <li *ngIf="!centreDataId">
                            <mat-form-field style="padding: 5px 10px 0px 0px;margin: 10px 3px 0px 0px;">
                                <mat-select [(value)]="filterByStatusSelected" placeholder="Show">
                                    <mat-option *ngFor="let mode of filterByStatusOptions" [value]="mode">
                                    {{ mode }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>                           
                        </li>
                    </ul>                    
                </div>
            </div>
        </div>
        
        <div class="main-content col-md-12">
            <span *ngIf="!centreDataId">
                <div style="margin-top:40px;">
                    <mat-nav-list>
                        <span *ngFor="let centreData of centreDataList">
                            <mat-list-item  *ngIf="filteredRecord(centreData, filterByStatusSelected)">
                                <a class="list" matLine>
                                    Validity: from {{ centreData.start }} to {{ centreData.end }} 
                                    | Record                             
                                    <span *ngIf="centreData.complete">completed</span>
                                    <span *ngIf="!centreData.complete">not completed</span>
                                    <span *ngIf="centreData.hasErrors">with</span>
                                    <span *ngIf="!centreData.hasErrors">without</span> errors                            
                                </a>
                                <button mat-button color="warn" (click)="loadCentreData(centreData._id)">Open</button>
                            </mat-list-item>
                        </span>
                    </mat-nav-list>
                </div>                                    
            </span>            
            <span *ngIf="centreDataId">
                <data-collection [(collectionId)]="centreDataId" [(userid)]="id" 
                [(form)]="form" [(model)]="model" (valueHasChangedEmitter)="valueHasChanged($event)"
                [unsavedState]="unsaved"></data-collection>                                               
            </span>
        </div>        
    </div>
</div>