<div class="sidebar-wrapper">
    <div class="logo">
        <a href="https://github.com/dreinkaos" class="simple-text">
            <div class="logo-img">
                <img src="/assets/img/angular2-logo-white.png"/>
            </div>
            Wires DC
        </a>
    </div>
    <ul class="nav responsive-nav">
        <li class="separator hidden-lg hidden-md"></li>
        <li>
            <a [routerLink]="['/home']">
              <i class="pe-7s-home"></i>
              <p>Home</p>
            </a>
        </li>
        <li>
            <a [routerLink]="['/centre', currentUser._id]">
              <i class="pe-7s-culture"></i>
              <p>Centre data</p>
            </a>
        </li>
        <li>
            <a [routerLink]="['/account', currentUser._id]">
              <i class="pe-7s-config"></i>
              <p>Account settings</p>
            </a>
        </li>
        <li>
            <a [routerLink]="['/wires', currentUser._id, 'wires']">
              <i class="pe-7s-id"></i>
              <p>Wires</p>
            </a>
        </li>
        <li>
            <a [routerLink]="['/openabdomen', currentUser._id, 'openabdomen']">
              <i class="pe-7s-drop"></i>
              <p>Open abdomen</p>
            </a>
        </li>
        <li>
            <a [routerLink]="['/infections', currentUser._id, 'infections']">
              <i class="pe-7s-pin"></i>
              <p>IAI</p>
            </a>
        </li>           
        <li>
            <a [routerLink]="['/login']">
              <i class="pe-7s-airplay"></i>
              <p>Logout</p>
            </a>
        </li>                    
    </ul>
</div>


<!--
<ul>
  <li>
      <a [routerLink]="['/home']">Back to home</a>
  </li>
  <li>
      <a [routerLink]="['/centre', currentUser._id]">Centre's data</a>
  </li>
  <li>
      <a [routerLink]="['/account', currentUser._id]">Personal data</a>
  </li>
  <li>
      <a [routerLink]="['/admissions', currentUser._id]">Admissions</a>
  </li>
  <li>
      <a [routerLink]="['/login']">Logout</a>
  </li>
</ul>
-->